
# 2017-02-07 
# 告訴吳楠,數據在本地開發，並不上傳到正式環境
# 第一次設立開發環境時，本地其實沒有數據
# 使用正式環境的數
# 為了保持好的工作習慣，示範了如何備份本地的數據
# 以這個例子，我們下載了PROD數據
# 仍可以退回到沒有PROD數據的狀態
# 因為在這.gitignore不版本控制db.sqlite3
# 必需人工維護
db.sqlite3

#static includes all app's static
# Mark, 2016-09-20 11:30 encounter no any static files at all
# It's okay to include all static folder 
#
#static
