{% extends 'app001/base_fc.html' %}


{% block content %}
<a href="."> (回到目錄)</a>
<h1>  --- 部門 ---  </h1>
<table>
<tr>
  <th>部門</th>
  <th>Cnt</th>
</tr>
{% for x in sub1 %}
<tr >
  <td><center>{{x.b}}</center></td>
  <td><center>{{x.cnt}}</center></td>
</tr>
{% endfor %}
</table>

<h1>  --- 部門 | 工序 ---  </h1>
<table>
<tr>
  <th>部門</th>
  <th>工序</th>
  <th>Cnt</th>
</tr>
{% for x in sub2 %}
<tr >
  <td><center>{{x.b}}</center></td>
  <td><center>{{x.c}}</center></td>
  <td><center>{{x.cnt}}</center></td>
</tr>
{% endfor %}
</table>
<h1>  --- 部門 | 工序 | 過程描述 ---  </h1>

<table>
<tr>
  <th>部門</th>
  <th>工序</th>
  <th>過程描述</th>
  <th>Cnt</th>
</tr>
{% for x in sub3 %}
<tr >
  <td><center>{{x.b}}</center></td>
  <td><center>{{x.c}}</center></td>
  <td><center>{{x.d}}</center></td>
  <td><center>{{x.cnt}}</center></td>
</tr>
{% endfor %}
</table>

{% endblock %}
