{% extends 'projectnote/base_projectnote.html' %}
{% load bootstrap3 %}

{% block page_title %}
{{ page_title}}
{% endblock %}

{% block content %}


{% if item_list %}
    <a class="btn btn-primary " href='/projectnote/drilllist'> Drill List</a>

   {% for item in item_list %}
 <h3>{{ item.code}}</h3>
 <h1>{{ item.name}}</h1>
  {% endfor %}
   
 <table class="table table-bordered text-center ">
  <tr>
  <td class="bg-primary"> seq </td>
  <td class="bg-primary"> 運行程式 </td>
  <td class="bg-primary"> 筆記要點 </td>
  <td class="bg-primary"> 異常處理 </td>

  <td class="bg-primary"> 範例單號 </td>

  </tr>
 
   {% for item2 in item_list2 %}

    <tr> <td class="bg-primary">     {{ item2.seq }}       </td>
      <td  class="text-left">     <b>【{{ item2.prog.code }}】</b><br> {{ item2.prog.name }}       </td> 
      <td  class="text-left">     {{ item2.note|safe }}        </td>
        <td  class="text-left">     {{ item2.problem|safe }}        </td>
    
      <td  class="text-left">     {{ item2.sample|safe }}        </td>





    </tr>
    {% endfor %}
    </table>
{% else %}



    <p>
      <!-- {{dept}} -->
{% for x in dept %}
  <b> {{x}} </b>
{% endfor %}



      目前还没這個演練.</p>
{% endif %}

<!--  code = models.CharField('流程编号',max_length=16)
    ver = models.CharField('版本',max_length=8)
    ver_date = models.DateField('修订日期')
    title = models.CharField(max_length=200)
    dept = models.CharField('负责单位',max_length=16)
    editor = models.CharField('修改人员',max_length=16)
    page_num = models.CharField('页次',max_length=16)
    intro = models.CharField('流程定义',max_length=200)
    diagram = models.ImageField('流程图',null=True)
    is_active=models.BooleanField("是否活躍", default=True ) -->
{% endblock %}