{% extends 'projectnote/base_projectnote.html' %}
{% load bootstrap3 %}

{% block page_title %}
{{ page_title}}
{% endblock %}

{% block content %}
  <h1> Drill List</h1>
{% if item_list %}
 
 <table class="table table-bordered text-center ">
<tr class="bg-primary" >
  <td></td>
  <td>code</td>

<td>name xxx </td>

</tr>

    {% for item in item_list %}
    <tr>
      <td  class="bg-primary" >{{ forloop.counter }}</td>
      <td   ><a href="/projectnote/drill/{{ item.id }}">{{ item.code }}</a></td>
      <td >xxx{{ item.name }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}



    <p>
      <!-- {{dept}} -->
{% for x in dept %}
  <b> {{x}} </b>
{% endfor %}



      目前还没有流程图.</p>
{% endif %}

<!--  code = models.CharField('流程编号',max_length=16)
    ver = models.CharField('版本',max_length=8)
    ver_date = models.DateField('修订日期')
    title = models.CharField(max_length=200)
    dept = models.CharField('负责单位',max_length=16)
    editor = models.CharField('修改人员',max_length=16)
    page_num = models.CharField('页次',max_length=16)
    intro = models.CharField('流程定义',max_length=200)
    diagram = models.ImageField('流程图',null=True)
    is_active=models.BooleanField("是否活躍", default=True ) -->
{% endblock %}