{% extends 'projectnote/base_projectnote.html' %}
{% load bootstrap3 %}

{% block page_title %}
{{ page_title}}
{% endblock %}


{% block content %}

<table class="table table-bordered text-center ">
<tr>
<!-- <td><h3>实施记要</h3></td>
<td><h3>员工</h3></td>
<td><h3>材料价格</h3></td> -->
<td><h3>SOP</h3></td>
<td><h3>Daily</h3></td>
<!-- <td><h3>BPM</h3></td> -->
</tr>

<tr>
<!-- <td>
  
{% if is_grp001 %}
  <a class="btn btn-primary " href='/projectnote/test1'> 實施記要 </a>

{% else %}

<a class="btn btn-warning " href='/admin/login/?next=/projectnote'> 必需先登入 </a>


{% endif %}



</td>
 -->
<!-- <td>

{% if is_grp002 %}
  <a class="btn btn-primary " href='/projectnote/flowchart'> 生产工艺流程卡 </a>
  <a class="btn btn-primary " href='/projectnote/employeev2'> 員工 </a>
{% else %}

<a class="btn btn-warning " href='/admin/login/?next=/projectnote'> 必需先登入 </a>


{% endif %}
</td>
 -->
<!--  <td>
{% if is_grp003 %}
  <a class="btn btn-primary " href='/projectnote/step3'> 材料價格 </a>
  <a class="btn btn-primary " href='/projectnote/step3ext/2016-11-17'> 材料價格（可設定截止日期） </a>
  <a class="btn btn-primary " target="_blank" href='http://fulltech-metal.org/project-rfq'> RFQ 報價自動化 </a>

{% else %}

<a class="btn btn-warning " href='/admin/login/?next=/projectnote'> 必需先登入 </a>


{% endif %}
</td>
 -->
 <td>
{% if is_grp005 %}
  <!-- 登入用戶俱有權限繼續訪問 -->
   <a class="btn btn-primary " href='/projectnote/technote'> 技術梗***</a>
  <a class="btn btn-primary " href='/projectnote/drilllist'> 演練</a>

  <a class="btn btn-primary " href='/projectnote/sop'> SOP列表 </a>
  <!-- <a class="btn btn-primary " href='/projectnote/sopcat'> SOP 部門-分類</a> -->
  <a class="btn btn-primary " href='/projectnote/sopdept'> SOP 按部门查看</a>
  <a class="btn btn-primary " href='/projectnote/sop3'> SOP流程圖(全) </a>
 <a class="btn btn-primary " href='/projectnote/sop4'> SOP純文本(全) </a>
 <a class="btn btn-primary " href='/projectnote/sopbpm'> SOP with BPM</a>
 <a class="btn btn-primary " href='/projectnote/sopnotactive'> 不啟用的SOP </a>
<a class="btn btn-primary " href='/projectnote/initdata'> 基本数据建置进度计划表 </a>
  <hr>
  <a class="btn btn-primary " href='/projectnote/dailywork'> B組每人每天工作 </a>
  <a class="btn btn-primary " href='/projectnote/bpm'> BPM </a>
  <a class="btn btn-primary " href='/projectnote/bpm2'> BPM T100送签 </a>
  <a class="btn btn-primary " href='/projectnote/bpm3'> BPM 纯BPM </a>
  <a class="btn btn-primary " href='/projectnote/bpm4'> BPM 人事 </a>
  <a class="btn btn-primary " href='/projectnote/js2'> 生成BPM表單開發下拉代碼 </a>
{% else %}

<a class="btn btn-warning " href='/admin/login/?next=/projectnote'> 必需先登入 </a>


{% endif %}</td>



<td>
{% if is_grp006 %}
  <!-- 登入用戶俱有權限繼續訪問 -->
  

 <a class="btn btn-primary " href='/projectnote/bpm'> BPM列表 </a>

{% else %}

<a class="btn btn-warning " href='/admin/login/?next=/projectnote'> 必需先登入 </a>


{% endif %}</td>



</tr>
</table>

















<p class="bg-info text-center"><em>全制程追踪系統</em> 2016-11-24 13:30 正式啟動</p>
<!-- <p class="bg-primary"><em>Kick off</em> to be 2016-12-19 or 2016-12-20</p> -->
    <!-- This is <em>bootstrap3</em> for <strong>Django</strong>. -->


{% endblock %}
