{% extends 'projectnote/base_projectnote.html' %}
{% load bootstrap3 %}

{% block page_title %}
{{ page_title}}
{% endblock %}


{% block content %}
<h1>
<!-- {{ is_projectgroup }} -->

{% if is_grp001 %}
  <!-- 登入用戶俱有權限繼續訪問 -->
  <a class="btn btn-primary " href='/projectnote/test1'> 實施記要 </a>
  <a class="btn btn-primary " href='/projectnote/flowchart'> 生产工艺流程卡 </a>
  <a class="btn btn-primary " href='/projectnote/step0'> step??? </a>
  <a class="btn btn-primary " href='/projectnote/step1'> step??? </a>
  <a class="btn btn-primary " href='/projectnote/step2'> step??? </a>
  <a class="btn btn-primary " href='/projectnote/step3'> step??? </a>

{% else %}

<a class="btn btn-warning " href='/admin/login/?next=/projectnote'> 必需先登入 </a>


{% endif %}
</h1>


<p class="bg-info"><em>Kick off</em> to be 2016-12-19 or 2016-12-20</p>
<!-- <p class="bg-primary"><em>Kick off</em> to be 2016-12-19 or 2016-12-20</p> -->
    <!-- This is <em>bootstrap3</em> for <strong>Django</strong>. -->


{% endblock %}
