{% extends 'projectnote/base_projectnote.html' %}
{% load bootstrap3 %}

{% block page_title %}
{{ page_title}}
{% endblock %}

{% block content %}
<!--{{ byquarter}}-->

<h1>资料起迄日期和笔数</h1>
<!-- <table class="table table-bordered  table-condensed text-center "> -->
  <table class="table table-bordered text-center ">

    <!-- <tr  align='center' class="bg-primary text-center"> -->
<tr class="bg-primary" >
  <td> 项次 </td>
  <td> 牌号 </td>
  <td> 起始日期 </td>
  <td> 截止日期 </td>
  <td> 资料 </td>

  </tr>
  <tr  >
{% for x in datacheck1 %}

    <td>  {{ forloop.counter}}</td>
    <td>  {{ x.designation}}</td>
    <td>  {{ x.min| date:"Y-m-d"}}</td>
    <td>  {{ x.max| date:"Y-m-d"}}</td>
    <td>  {{ x.cnt}}</td>

  </tr>
{% endfor %}
</table>



<h1>計算價差和漲跌幅</h1>

<p>
請將以下表格複製並粘貼到 Excel 的 A1 位置，再行調整並加整個區域的格式。
</p>

<table class="table table-bordered  table-condensed text-center ">
{% regroup byquarter by designation as list01 %}

{% for x in list01 %}
{% if forloop.counter == 1 %}
<tr class="bg-primary">
<td rowspan='2' style="vertical-align: middle">牌號</td>
{% for y in x.list %}
<td>{{ y.yearnum }}  </td>
{% endfor  %}

<td colspan="2">第三季對第一季</td>
<td colspan="2">第四季對第一季</td>


</tr>
{% endif %}
{% endfor  %}

{% for x in list01 %}
{% if forloop.counter == 1 %}
<tr class="bg-primary">
<!--<td></td>-->
{% for y in x.list %}
<td>Q{{ y.quarternum }} </td>
{% endfor  %}
<td>價差</td>
<td>漲跌幅</td>
<td>價差</td>
<td>漲跌幅</td>
</tr>
{% endif %}
{% endfor  %}

{% for x in list01 %}
<tr >

<td>{{ x.grouper }}</td>
{% for y in x.list %}

<td>{{ y.avg|stringformat:".2f" }} </td>

{% endfor  %}
<td>=D{{forloop.counter | add:2 }}-B{{forloop.counter | add:2 }}</td>
<td>=F{{forloop.counter | add:2 }}/B{{forloop.counter | add:2 }}</td>
<td>=E{{forloop.counter | add:2 }}-B{{forloop.counter | add:2 }}</td>
<td>=H{{forloop.counter | add:2 }}/B{{forloop.counter | add:2 }}</td>
</tr>
{% endfor  %}
</table>

<h1>每月均價</h1>
<table class="table table-bordered  table-condensed text-center ">
{% regroup subtotal by designation as list01 %}

{% for x in list01 %}
{% if forloop.counter == 1 %}
<tr class="bg-primary">
<td rowspan='1'>月平均價</td>
{% for y in x.list %}

<td>{{ y.yearnum }}  </td>


{% endfor  %}
</tr>
{% endif %}
{% endfor  %}

{% for x in list01 %}
{% if forloop.counter == 1 %}
<tr class="bg-primary">
<td>牌號</td>
{% for y in x.list %}

<td>{{ y.monthnum }} </td>


{% endfor  %}


</tr>
{% endif %}
{% endfor  %}

{% for x in list01 %}
<tr  align='center'>

<td>{{ x.grouper }}</td>
{% for y in x.list %}

<td>{{ y.avg|stringformat:".2f" }} </td>

{% endfor  %}
<!--<td>=D{{forloop.counter | add:2 }}-B{{forloop.counter | add:2 }}</td>-->
<!--<td>=F{{forloop.counter | add:2 }}/B{{forloop.counter | add:2 }}</td> -->
<!--<td>=E{{forloop.counter | add:2 }}-B{{forloop.counter | add:2 }}</td>  -->
<!--<td>=H{{forloop.counter | add:2 }}/B{{forloop.counter | add:2 }}</td> -->
</tr>
{% endfor  %}
</table>

  <!--<tr align='center'>-->
  <!--  <td>  {{ x.designation}}</td>-->
  <!--  <td>  {{ x.yearnum}}Q{{ x.quarternum}}</td>-->
  <!--  <td>  {{ x.avg|stringformat:".2f"}}</td>-->

  <!--</tr>-->

<!-- {{ datacheck1}} -->



<!--
<hr>
以下不顯示
<h1>by Quarter</h1>
<table  class="table table-bordered  table-condensed" >
<tr class="bg-primary">
  <th> 牌號</td>
  <th> 年季度</td>
    <th> 平均單價(KG)</td>

  </tr>
{% for x in byquarter %}
  <tr align='center' >
    <td>  {{ x.designation}}</td>
    <td>  {{ x.yearnum}}Q{{ x.quarternum}}</td>
    <td>  {{ x.avg|stringformat:".2f"}}</td>

  </tr>
{% endfor %}
</table> -->
{% endblock %}
