{% extends 'projectnote/base_projectnote_simple.html' %}
<!-- {% load bootstrap3 %} -->

{% block page_title %}
{{ page_title}}
{% endblock %}

{% block content %}



{% if item_list %}




<h2>各部門 T100 客製<strong>表單報表</strong>統計表  </h2>
<i>說明: <strong>表單</strong>是指空白表格。<strong>報表</strong>是有T100的數據，通常以使用多少張數據庫的表當成第一個難度係數。</i><br><br>
<table class="gridtable_all_center ">
  <!-- <table class="xxxgridtable "> -->


   <tr  >
     <th colspan=3 style="background-color:white;border-style:none"></th>
     <!-- <th>id</th> -->


     <th colspan=7>鼎捷開發</th>




   </tr>

<tr  >
  <th  style="background-color:white;border-style:none"></th>
  <!-- <th>id</th> -->
  <th colspan="2">部门</th>
  <th>总笔数</th>
  <th>未开工</th>
  <th>在制</th>
  <th>待验收</th>
  <th>已验收</th>
  <th>取消</th>
  <th>状态不明</th>




</tr>

    {% for item in item_list %}
    <tr>
      <th  >{{ forloop.counter }}</th>
      <!-- <td>{{ item.id }} </td> -->
      <td>{{ item.t100DeptId }} </td>
      <td>{{  item.t100DeptName }} </td>
      <td><a class="btn btn-info " href='../t100_dept_report_list/{{ item.t100DeptId }}/'>{{  item.D0 }}</a> </td>
      <td><a class="btn btn-default " href='../t100_dept_report_list/{{ item.t100DeptId }}/1/'>{{  item.D1 }}</a> </td>
      <td><a class="btn btn-default " href='../t100_dept_report_list/{{ item.t100DeptId }}/2/'>{{  item.D2 }}</a> </td>
      <td><a class="btn btn-success " href='../t100_dept_report_list/{{ item.t100DeptId }}/3/'>{{  item.D3 }}</a> </td>
      <td><a class="btn btn-primary " href='../t100_dept_report_list/{{ item.t100DeptId }}/4/'>{{  item.D4 }}</a> </td>
      <td><a class="btn btn-warning " href='../t100_dept_report_list/{{ item.t100DeptId }}/5/'>{{  item.D5 }}</a> </td>
      <td><a class="btn btn-danger " href='../t100_dept_report_list/{{ item.t100DeptId }}/6/'>{{  item.D6 }}</a> </td>




    </tr>
    {% endfor %}

    <tr>
      <td colspan="3"  style="background-color:white;border-style:none"></td>

      <th>{{  item_list2.sumd0 }} </th>
      <th>{{  item_list2.sumd1 }} </th>
      <th>{{  item_list2.sumd2 }} </th>
      <th>{{  item_list2.sumd3 }} </th>
      <th>{{  item_list2.sumd4 }} </th>
      <th>{{  item_list2.sumd5 }} </th>
      <th>{{  item_list2.sumd6 }} </th>



    </tr>

    </table>
{% else %}
    <p>No SOP are available.</p>
{% endif %}

<!--  code = models.CharField('流程编号',max_length=16)
    ver = models.CharField('版本',max_length=8)
    ver_date = models.DateField('修订日期')
    title = models.CharField(max_length=200)
    dept = models.CharField('负责单位',max_length=16)
    editor = models.CharField('修改人员',max_length=16)
    page_num = models.CharField('页次',max_length=16)
    intro = models.CharField('流程定义',max_length=200)
    diagram = models.ImageField('流程图',null=True)
    is_active=models.BooleanField("是否活躍", default=True ) -->
{% endblock %}
