{% extends 'projectnote/base_projectnote.html' %}
{% load bootstrap3 %}

{% block page_title %}
{{ page_title}}
{% endblock %}

{% block content %}

{% if item_list %}
<h1>技術梗</h1>   
<!-- <h3><a target='_blank' href="http://10.10.0.41:8086/NaNaWeb">测试环境链接</a></h3>   
<h3><a target='_blank' href="http://10.10.0.33:8086/NaNaWeb">正式环境链接</a>  -->
<!-- </h3>    -->
   <a class="btn btn-primary " href='http://192.168.62.18/bpm/'> 開發者的服務器(注意, IP有可能改變的!)</a>
 
<!-- {{ item_list}} -->

<table class="table table-bordered text-center ">
  <tr class="bg-primary" >
    <th></th>
    <th>類別</th>
    <th>說明人員</th>
    <th>技術梗</th>
  </tr>

  {% for item in item_list %}
  <tr>
    <td  class="bg-primary" >{{ forloop.counter }}</td>
    <td class="text-left">{{ item.a}} </td>
    <td class="text-left">{{ item.b}} </td>
    <td class="text-left">{{ item.c}} </td>
  </tr>   
  {% endfor %}
</table>
{% else %}
    <p>No Dailywork are available.</p>
{% endif %}
{% endblock %}